<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/about.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- navigation bar -->
    <div id="nav-placeholder">
    </div>


    <h2> About Us </h2>

    <!-- <img class="wave" src="../static/img/a2bdaa-main.PNG"> -->
    <div class="main-idea">
        <h3> Main Idea</h3>
        <p> As college students, we know how overwhelming it can be to be in a completely new town. We wanted to create a website that helps people plan out an adventure, regardless of their interests or what they're feeling for the day. <br> Not only is our goal to help people become acquainted with a new environment, but we also wanted to create a site that promotes small businesses. </p>
    </div>

    <div class="how-works">
        <h3> How it Works </h3>
        <p> Users can input their interests to help curate their perfect day in their town, specifically targeting small businesses and underrated spots! </p>
    </div>

    <div class="our-team">
        <h3> Our Team </h3>
        <p> Our team is titled GΣU, inspired by our school names being GMU and GWU! <br> This is our first time competing at PatriotHacks and we are so thrilled to be participating! </p>
        <div class="team">
            <div class="teammate">
                <h4> Noah Hinger</h4>
                <img src="https://media.licdn.com/dms/image/v2/D4E03AQF1kwQu_0R5qw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1687373616196?e=1733961600&v=beta&t=vYNuEa-3c7HaAKvlpvtsWJwLlnia_hBGwgNOg7w7jp8">
                <p><b>School:</b> George Mason University </p>
                <p><b>Major:</b> Cybersecurity Engineering </p>
            </div>
            <div class="teammate">
                <h4> Caitlyn Nilo </h4>
                <img src="https://media.licdn.com/dms/image/v2/D5603AQGjfbgbwJLeRw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1726549541425?e=1733961600&v=beta&t=L2IuWRF6PIuf_CSWZCH4rAO8Yv9dfJeVDrwOvHJkBZU">
                <p><b>School:</b> George Washington University </p>
                <p><b>Major:</b> Computer Science </p>
            </div>
        </div>
    </div>


    <!-- script for the nav bar -->
    <script>
        $(function(){
            $("#nav-placeholder").load("nav.html");
        });
    </script>
</body>
</html>