<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/about.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- navigation bar -->
    <div id="nav-placeholder">
    </div>


    <h2> hewwo </h2>


    <!-- script for the nav bar -->
    <script>
        $(function(){
            $("#nav-placeholder").load("nav.html");
        });
    </script>
</body>
</html>