<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/home.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <img class="home-bg" src="../static/img/skyline.jpeg">

    <!-- navigation bar -->
    <div id="nav-placeholder">
    </div>

    <div class="text">
        <h1> LocalQuest </h1>
        <p class="subtitle"> travel. explore. discover. </p>
        <button class="home-start-button"> <a href="{{ url_for('start_page') }}"> start your adventure >  </a></button>
    </div>


    <!-- script for the nav bar -->
    <script>
        $(function(){
            $("#nav-placeholder").load("nav.html");
        });
    </script>
</body>
</html>