<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../main.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- navigation bar -->
    <!-- <div id="nav-placeholder">

    </div> -->

    <div class="text">
        <h1> NAME </h1>
        <p class="subtitle"> travel. explore. discover. </p>
        <button> <a href="../start-page"> start your adventure >  </a></button>
    </div>


    <!-- script for the nav bar -->
    <!-- <script>
        $(function(){
            $("#nav-placeholder").load("nav.html");
        });
    </script> -->
</body>
</html>