<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/start-page.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- <div id="loader"></div> -->

    <div class="wrapper">
        <div class="left-side">
            <h2> Let's get started...</h2>
            <p> enter some of your interests to plan your perfect day out! </p>
        </div>
        <div class="right-side">
            
        </div>
        <div class="bottom">

            <div class="interests-input-wrapper">
                <input type="text" class="interests-input">
                <button class="add-button" onclick="addInterest()">Add</button>
            </div>


            <button class="generate-button" onclick="sendToServer()">Generate my day!</button>
        </div>
    </div>
    <script defer>
        var interestsInput = document.querySelector('.interests-input')
        interestsInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                addInterest()
            }
        })

        interests =[]
        function addInterest() {
            let interest = document.querySelector('.interests-input').value
            if (interest === "") {
                alert("Please enter an interest")
                return
            }
            interests.push(interest)

            interestsInput.value = ""

            let interestElement = `<div class="interest-element">${interest}</div>`

            document.querySelector('.right-side').innerHTML += interestElement

            console.log(interests)

        }

        function sendToServer() {
            if (interests.length == 0) {
                alert("Please enter some interests")
                return
            }
            // var loader = document.getElementById("loader");
            // if (loader.style.display === "none") {
            //     loader.style.display = "block";
            // } else {
            //     loader.style.display = "none";
            // }

            fetch('/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "interests": interests
                })
            })
            .then(response => {
                console.log("Heres the response")
                return response.json()
            })
            .then(data => {
                console.log(data)
                resultArray = data["recommendations"].join(",")
                window.location.href = `/your-day/${resultArray}`
            })
            .catch((error) => {
                console.error('Uhoh:', error);
            });
        }

    </script>
</body>
</html>