<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link href="../main.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div class="left-side">
            <h2> Let's get started...</h2>
        </div>
        <div class="right-side">
            <button> Placeholder </button>
        </div>
        <div class="bottom">
            <input type="text" class="interests-input">
            <button onclick="addInterest()">Add interest</button>
            <button class="generate-button"><a href="../your-day">Generate my day!</a></button>
        </div>
    </div>
    <script defer>
        interests =[]
        function addInterest() {
            let interest = document.querySelector('.interests-input').value
            interests.push(interest)
            console.log(interests)
        }
    </script>
</body>
</html>