<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/start-page.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="left-side">
            <h2> Let's get started...</h2>
            <p> enter some of your interests to plan your perfect day out! </p>
        </div>
        <div class="right-side">
            <button> Placeholder </button>
        </div>
        <div class="bottom">
            <input type="text" class="interests-input">
            <button class="generate-button"><a href="your-day.html">Generate my day!</a></button>
        </div>
    </div>
    <script defer>
        interests =[]
        function addInterest() {
            let interest = document.querySelector('.interests-input').value
            interests.push(interest)
            console.log(interests)
        }
    </script>
</body>
</html>