<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Day</title>
    <link href="../main.css" rel="stylesheet" type="text/css" />
    <link href="../static/your-day.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- navigation bar -->
    <div id="nav-placeholder">
    </div>


    <h2> Your Day in Fairfax! </h2>
    <div class="event-timeline">
        <div class="event-item">
            <p> Guthridge Hall </p>
            <p> 2115 F St NW </p>
        </div>
        <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        <div class="event-item">
            <p> Guthridge Hall </p>
            <p> 2115 F St NW </p>
        </div>
    </div>


    <!-- script for the nav bar -->
    <script>
        $(function(){
            $("#nav-placeholder").load("nav.html");
        });
    </script>
</body>
</html>