.text {
    margin: 0;
    margin-left: 2vw;
    top: 25%;
    position: absolute;
}

.subtitle {
    font-size: 35px;
    margin: 0;
    font-style: italic;
    font-family: "FreshLychee", serif;
    text-shadow: 2px 2px 2px white;
}

.home-bg {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: blur(5px) contrast(70%) brightness(115%);
}