@font-face {
    font-family: "BaksoSapi";
    src: url(../static/fonts/BaksoSapi.otf);
}

@font-face {
    font-family: "FreshLychee";
    src: url(../static/fonts/FreshLychee.otf);
}

@font-face {
    font-family: "ALittleSunshine";
    src: url(../static/fonts/ALittleSunshine.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    animation: fadeInAnimation ease 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    font-size: 220px;
    margin: 0;
    font-family: "Baksosapi", serif;
    text-shadow: 5px 5px 5px white;
    color: rgb(50, 33, 33);
}

h2 {
    font-family: "Baksosapi";
    color: rgb(50, 33, 33);
    text-shadow: 3px 3px 3px white;
}

a {
    text-decoration: none;
    color: rgb(76, 51, 51);
    font-family: "ALittleSunshine", serif;
}

p {
    font-family: "ALittleSunshine", serif;
    color: rgb(76, 51, 51);
}

img {
    object-fit: cover;
}

button {
    background-color: white;
    margin-top: 2vw;
    font-size: 3.5vh;
    font-weight: bold;
    border-radius: 25px;
    border-style: none;
    padding: 8px 15px;
    box-shadow: 5px 5px 5px rgb(76, 51, 51);
}

button:hover, button:active {
    background-color: rgb(200, 229, 206);
    transition: all .5s ease;
}

/* navigation bar css */

.nav-bar {
    position: relative;
    margin: 0;
    padding-top: 2vw;
    padding-right: -3vw;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    background-image: linear-gradient(rgba(255, 233, 207, 1) 75%, rgba(0,0,0,0))
}

.nav-bar a {
    margin: 0 2vw;
    font-size: 5vh;
    color: rgb(76, 51, 51);
    font-family: "FreshLychee", serif;
}